services:
  - type: web
    name: labourmandi
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: postgres
          property: connectionString
    healthCheckPath: /
    
databases:
  - name: postgres
    plan: free
